* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

:root {
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients */
    --light-slate-blue-bg: hsl(252, 100%, 67%);
    --light-royal-blue-bg: hsl(241, 81%, 54%);
    --violet-blue-circle: hsla(256, 72%, 46%, 1);
    --persian-blue-circle: hsla(241, 72%, 46%, 0);

    /* Neutral */

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /* Font size */

    --paragraph-fnt-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 325px;
}

.result-area {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1.5rem;
    background: linear-gradient(
        var(--light-slate-blue-bg),
        var(--light-royal-blue-bg)
    );
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--white);
}

.score {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.score-circle {
    position: absolute;
    background: linear-gradient(
        var(--violet-blue-circle),
        var(--persian-blue-circle)
    );
    border-radius: 50%;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.score-value {
    font-size: 2rem;
    font-weight: 600;
    z-index: 1;
    color: var(--white);
}

.score-outof {
    color: var(--white);
}

.text-area p {
    font-size: var(--paragraph-fnt-size);
    color: var(--pale-blue);
}

.text-area span {
    font-size: 1.2rem;
    font-weight: 500;
}
